window {
  /* A little bit bigger than the default font size. Personal taste. */
  font-size: 120%;
}

/* Have to do it like this since you can't set padding on the window. */
#container {
  margin: 1em;
}

#icon {
  margin-right: 1em;
}

#image {
  margin-left: 2em;
}

#summary {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

