window {
  /* A little bit bigger than the default font size. Personal taste. */
  font-size: 120%
}

/* Have to do it like this since you can't set padding on the window. */
#container {
  margin: 1em 1em 0.5em 1em;
}


#image {
  margin-right: 1em;
}

#summary {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

#buttons {
  margin-top: 0.5em;
}

#icon-and-name {
  margin-top: 1em;
  font-size: 0.7em;
  color: #bbbbbb;
}

#icon {
  margin-left: 1em;
}

